@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

:root {
    /* Fuentes */
    --font-body: font-family: 'Open Sans', sans-serif;
    --font-headings: 'Raleway', sans-serif;
}