@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: var(--font-body);
}

:root {
    /* Fuentes */
    --font-body: font-family: 'Open Sans', sans-serif;
    --font-headings: 'Raleway', sans-serif;

    /* Colores */
    --blue-bg: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue--footer-bg: hsl(216, 53%, 9%);
    --blue-testimoniales-bg: hsl(219, 30%, 18%);

    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}